/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 feb 2024, 16:17:16
    Author     : OSCAR.ROMO
*/


/*--------------Boton Busqueda claves-------------*/


   



 /*--------------------BOTONES TABS (identificar,puntear,vista calle)---------------------*/
  
  /*---Puntear---*/
    .gg-pin {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: rotate(45deg) scale(var(--ggs,1));
        width: 18px;
        height: 18px;
        border-radius: 100% 100% 0 100%;
        border: 2px solid;
        margin-top: 0px;
        float: inline-start;
    }
    .gg-pin::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 8px;
        height: 8px;
        border: 2px solid;
        top: 3px;
        left: 3px;
        border-radius: 40px
    }
    
  /*---Vista calle---*/ 
    .gg-distribute-horizontal {
        box-sizing: border-box;
        float: inline-start;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        height: 16px;
        width: 14px;
        top: 3px;
        border-left: 2px solid;
        border-right: 2px solid
   }
    .gg-distribute-horizontal::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        height: 9px;
        width: 4px;
        background: currentColor;
        right: 3px;
        top: 3px;
        opacity: .5
   } 
  
  /*---Identificar---*/ 
    .gg-controller {
        float: inline-start;
        margin-top: 6px;
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 8px;
        height: 8px;
        border: 2px solid;
        border-radius: 100px
    }
    .gg-controller::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 14px;
        height: 14px;
        box-shadow: -6px -6px 0 -4px, 6px 6px 0 -4px, 6px -6px 0 -4px, -6px 6px 0 -4px;
        left: -5px;
        top: -5px;
        transform: rotate(45deg)
    } 
  



    
    
    
 /*--------------------FORMULARIO---------------------*/
 
 /*--icon_Flecha abajo--*/
    .gg-chevron-double-down {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px;
        margin-left: 95%;
        margin-top: -3%;    
   }
    .gg-chevron-double-down::after,
    .gg-chevron-double-down::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 8px;
        height: 8px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        left: 7px;
        top: 3px
   }
    .gg-chevron-double-down::after {
        top: 8px
   } 

    
  /*--icon_Referencia--*/
    .gg-tag, .gg-tag::before {
        float: inline-start;
        display: block;
        border: 2px solid
    }
    .gg-tag {
        border-right: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        box-sizing: border-box;
        transform: scale(var(--ggs,1));
        position: relative;
        width: 19px;
        height: 14px
   }
    .gg-tag::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 2px;
        box-sizing: content-box;
        border-radius: 100px;
        right: 0;
        top: 2px
   }
    .gg-tag::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        border-bottom-right-radius: 4px;
        transform: rotate(-45deg);
        top: 0;
        right: -5px
   } 
      
 /*--icon_Domicilio--*/
    .gg-home-alt {
        float: inline-start;
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 18px;
        height: 14px;
        border: 2px solid;
        border-top: 0;
        border-radius: 2px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-bottom: -2px
   }
    .gg-home-alt::after,
    .gg-home-alt::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute
   }
    .gg-home-alt::before {
        border-top: 2px solid;
        border-left: 2px solid;
        border-top-left-radius: 4px;
        transform: rotate(45deg);
        top: -5px;
        border-radius: 3px;
        width: 14px;
        height: 14px;
        left: 0
   }
    .gg-home-alt::after {
        width: 6px;
        height: 10px;
        background: currentColor;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        left: 4px;
        bottom: -2px
   }
    
  /*--icon_Asentamiento--*/
    .gg-browse {
        float: inline-start;
        display: block;
        position: relative;
        transform: scale(var(--ggs,1));
        box-sizing: border-box;
        width: 16px;
        height: 22px;
        border: 2px solid;
        border-radius: 3px;
        background: linear-gradient (to left, currentcolor 10px, transparent 0) no-repeat center 2px/8px 2px, linear-gradient(to left, currentcolor 10px, transparent 0) no-repeat center 6px/8px 2px
   }
    .gg-browse::after,
    .gg-browse::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 22px
   }
    .gg-browse::before {
        width: 6px;
        height: 6px;
        border: 2px solid;
        left: 3px;
        top: 9px
   }
    .gg-browse::after {
        width: 2px;
        height: 4px;
        background: currentColor;
        bottom: 1px;
        right: 2px;
        transform: rotate(-45deg)
   }   
    
  /*--icon_Entre vialidades--*/ 
    .gg-arrows-exchange-alt {
        box-sizing: border-box;
        float: inline-start;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 16px;
        height: 14px
   }
    .gg-arrows-exchange-alt::after,
    .gg-arrows-exchange-alt::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        height: 2px;
        background: currentColor;
        border-radius: 4px
   }
    .gg-arrows-exchange-alt::before {
        width: 6px;
        transform: rotate(-45deg);
        box-shadow: -2px -13px 0;
        right: 0;
        top: 10px
   }
    .gg-arrows-exchange-alt::after {
        width: 12px;
        box-shadow: 4px 4px 0;
        top: 4px
   } 
   
   
 /*--icon_calle posterior--*/ 
    .gg-repeat {
        float: inline-start;
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        box-shadow: -2px -2px 0 0, 2px 2px 0 0;
        width: 14px;
        height: 6px
   }
    .gg-repeat::after,
    .gg-repeat::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent
   }
    .gg-repeat::before {
        border-left: 5px solid;
        top: -4px;
        right: 0
    }
    .gg-repeat::after {
        border-right: 5px solid;
        bottom: -4px;
        left: 0
   } 
    
  /*--icon_Ubicacion Geografica--*/
    .gg-globe-alt,
    .gg-globe-alt::after,
    .gg-globe-alt::before {
        display: block;
        float: inline-start;
        box-sizing: border-box;
        height: 18px;
        border: 2px solid
   }
    .gg-globe-alt {
        position: relative;
        transform: scale(var(--ggs,1));
        width: 18px;
        border-radius: 22px
   }
    .gg-globe-alt::after,
    .gg-globe-alt::before {
        content: "";
        position: absolute;
        width: 8px;
        border-radius: 100%;
        top: -2px;
        left: 3px
   }
    .gg-globe-alt::after {
        width: 24px;
        height: 20px;
        border: 2px solid transparent;
        border-bottom: 2px solid;
        top: -11px;
        left: -5px
   }
        
 /*--icon_Edificio, centro comercial--*/
    .gg-extension-add {
        float: inline-start;
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        background: linear-gradient (to left,currentColor 10px,transparent 0) no-repeat 10px 2px/6px 2px, linear-gradient (to left,currentColor 10px,transparent 0) no-repeat 12px 0/2px 6px;
        width: 16px;
        height: 16px
   }
    .gg-extension-add::after,
    .gg-extension-add::before {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        width: 8px;
        height: 14px;
        border: 2px solid;
        bottom: 0
   }
   .gg-extension-add::after {
        width: 14px;
        height: 8px
   } 
  
 /*--icon_observacion--*/ 
    .gg-danger {
        float: inline-start;
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 20px;
        height: 20px;
        border: 2px solid;
        border-radius: 40px
   }
    .gg-danger::after,
    .gg-danger::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 3px;
        width: 2px;
        background: currentColor;
        left: 7px
   }
    .gg-danger::after {
        top: 2px;
        height: 8px
   }
    .gg-danger::before {
        height: 2px;
        bottom: 2px
   } 
    
    

   
   
 /*-----------icon_Menu Hamburguesa-----------*/
    
   /*--icon_Signo mas '+' principal--*/ 
   
 
   /*--icon_Ayuda--*/
     
   
   /*--icon_claves--*/
    
 
   /*--icon_Imprimir--*/   
    
   
   /*--icon_Claves bloqueadas--*/ 
     

   /*--icon_Reporte--*/
     
   
   /*--icon_bloqueo--*/
  
   
   /*--icon_Cancelar--*/
     

   /*--Icon_guardar--*/
   
