/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/05/2024, 09:11:11 AM
    Author     : LUIS.TERAN
*/


/*media querys tamaño icono material-icons y botones header*/

@media(max-height:1200px){
    
    .sidebar-toggle.left{
        right: -1.8em !important;
    }
    
    .icono_buscar{
        font-size: 32px;
    }
    .Btn_busqueda{
        height: 85% !important;
    }
    .Input_Buscador{
        height: 85% !important;
    }
    .tab{
        margin: 18px 5px !important;
    }
    .icono_material{
        font-size:24px;
    }
    .boton_tab{
        height: 95% !important;
        font-size:13px;
    }
    .listado_Ver{
        margin: 20px 0px;
    }
    .listado_ver {
        width: 85%;
        height: 45%;
        margin: 22px 0px;
    }
    .form-check-input{
        margin-top: .5em !important;
    }
    .form-check-label{
        line-height: 2;
    }
    .Img_Logo_Sare {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .tooltip_buscador, .tooltip_buscador2{

        top: 76px !important;
        left: 421px !important;
    }
    /*estilos sidebar mapa*/
    .sidebar-toggle {

        position: absolute;
        height:-webkit-fill-available;
        height: 4vh !important;
    }
    .sidebar-content {
        width: 85% !important;
    }

    .sidebar {
        width: 21.7vw !important;
    }
    @keyframes slidein2{
    from{
        transform: translatex(0);
    }
    to {
        transform: translatex(-18.3vw);
    }
}

    .onoffswitch{
        margin: 29px auto ;
        margin-left: 60px !important;
    }
    /*estilos modal media query 1200px*/
    #modal-footer-ver #btn-ver {
        margin: 0px 0px -5px 0px !important;
    }
    #modal-footer-ver{
        padding: 0px 0px !important;
    }
    #modal-content-ver {
        padding-bottom: 7px !important;
    }
    #eliminar-button, #search-button, #center-button{
        height: auto !important;
    }
    
    /*estilos identificar*/
    .SubTitulo_identificar{
        margin-top: 17px !important;
    }
    .SubTitulo_identificar h3{
        padding-bottom: 4px !important;
    }
    #Identificar {
        height: 60.5vh !important;

    }

    .headerIdentifi{
        display: block !important;
        position: relative !important;
    }
    .campos_Indenti{
        margin-bottom: 10px !important;

    }
    .Text_camposIdenti {
        line-height: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0rem !important;
        padding-top: 20px !important;
        padding-bottom: 15px !important;
    }

    #Ficha_Btn::after{
        padding: 28px 30px 0px 30px !important;

    }
    .row{
        padding: 25px 30px 0px 30px !important;
    }
    #LimpiaDatos_identi {
        font-size: 27px;
        color: white;
        position: absolute;
        margin: -20px -6px;
        transform: rotate(0deg);
    }

    .Btn_LimpiaDatos_identi{
        width: 35px;

    }

     .iframe-reporte {
        
        height: 77vh !important;
        
    }



    
}
@media(max-height:1080px){

    .Btn_busqueda{
        height: 85% !important;
    }
    .Input_Buscador{
        height: 85% !important;
    }
    .tab{
        margin: 16px 5px !important;
    }
    .icono_material{
        font-size:19px ;
    }
    .boton_tab{
        height: 95% !important;
        font-size:15px ;
    }
    .listado_Ver{

        width: 85%;
        height: 45%;
        margin: 20px 0px;
    }
    .form-check-input{
        margin-top: .3em !important;
    }
    .form-check-label{
        line-height: 1.6;
    }
    .tooltip_buscador, .tooltip_buscador2{
        top:71px !important;
    }
    #eliminar-button .material-icons{
        line-height: 0 !important;
    }
    #search-button .material-icons{
        line-height: 0 !important;

    }
    #center-button .material-icons{
        line-height: 0 !important;
    }
    .sidebar-toggle {

        position: absolute;
        height:-webkit-fill-available;
    }
    /*estilos modal media query 1200px*/
    #modal-footer-ver #btn-ver {
        margin: 0px 0px -5px 0px !important;
    }
    #modal-footer-ver{
        padding: 0px 0px !important;
    }
    #modal-content-ver {
        padding-bottom: 7px !important;
    }
    
    

}

@media(max-height:900px){
    .icono_material{
        font-size:22px ;
    }
    .boton_tab{
        height: 96% ;
    }
}

@media(max-height:768px){
    .Btn_busqueda{
        height: 100% !important;
    }
    .Input_Buscador{
        height: 100% !important;
    }
    .tab{
        margin: 9px 5px !important;
    }
    .icono_material{
        font-size:15px ;
    }
    .icono_buscar{
        font-size: 24px;
    }
    .boton_tab{
        height: 96% ;
        font-size: 10px;
    }
    .listado_Ver{
        margin: 14px 0px;
        width: 76%;
        height: 45%;
    }
    #Boton_ver .material-icons{
        font-size:17px !important;
    }
    .form-check{
        margin: -13px 41px;
    }
    /*menu flotante estilos*/
    .con-tooltip{
        width: 31px !important;
        height: 31px !important;
    }
    .Icon_MenuFlot{
        font-size: 19px !important;
    }
    .redes {
        margin: 0px 0px -49px 252px !important;
        /* border: solid 1px whitesmoke; */
    }
    .btn-mas label{

        width: 31px !important;
        height: 31px !important;
    }
    #boton_flotante{
        font-size: 31px !important;
        padding-top: 0px !important;
        padding-left: 0px !important;
    }
    /*estilos sidebar*/
    .sidebar {
        /*width: 450px;*/
    }
    .form-control {
        font-size: 0.8rem;
        padding: 12px 4px !important;
    }
    .CampoLabel {
        font-size:13px;
    }
    #e23a{
        padding: 14px 4px !important;
        font-size: 0.8rem;
    }
    .Btn_Guardar{
        line-height: 0;
    }
    .Img_Logo_Sare {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .tooltip_buscador, .tooltip_buscador2{
        top:47px !important;
        left:325px !important;
        font-size: 10px !important;
        padding:3px !important;
    }
    .tooltip_buscador img, .tooltip_buscador2 img {

        width: 16px !important;
        height: 16px !important;
    }
    .tooltip_buscador:before {
        left: 1px !important;
        top: 70% !important;
        border-width: 7px 10px 10px 10px !important;
    }
    .tooltip_buscador2:before {
        left: 5px !important;
        left: 1px !important;
        top: 68% !important;
        border-width: 7px 10px 10px 10px !important;
    }
    .sidebar-content{
        height:4.5vh !important;
        width: 85%!important;
    }
    #eliminar-button .material-icons{
        line-height: 0 !important;
        font-size: 13px !important;
    }
    #search-button .material-icons{
        line-height: 0 !important;
        font-size: 14.3px !important;
    }
    #center-button .material-icons{
        line-height: 0 !important;
        font-size: 14px !important;
    }
    #eliminar-button, #search-button, #center-button{
        height: auto !important;
    }
    .sidebar-toggle {
        position: absolute !important;
        height:-webkit-fill-available;
        height: 4.5vh !important;
        width: 40px !important;
    }
    .sidebar-toggle.left{
        right: -1.2em !important;
    }
    .sidebar-toggle .icon{
        width: 58% !important;
        height: 65% !important;
    }
    /*estilo barra busqueda sidebar*/
    .sidebar{
        width:21.7vw !important;
    }
    .btn {
        --mdb-btn-padding-x: 0.51rem !important;
    }
    .left.collapsed {
        transform: translatex(-18.3vw);
        animation-duration: 2s;
        animation-name: slidein3;
    }
    @keyframes slidein3{
        from{
            transform: translatex(0);
        }
        to {
            transform: translatex(-18.3vw);
        }
    }
    #Txt_Buscar_Id_ue{
        font-size: 11px;
        text-align: justify;
    }
    .form-check-input {
        width: 2rem !important;
        height: 0.650rem !important;
        margin-top: 0.46em !important;
    }
    .form-check-input:checked[type=checkbox]:after {
        width: 1rem !important;
        height: 1rem !important;
        top: 0.7px !important;
    }
    .form-check-label {
        line-height: 2.30 ;
        font-size: 11px !important;
        display: block !important;
    }
    #ratificar, #noratificar{
        font-size:12px !important;
        letter-spacing: 1px !important;
    }
    .swal2-popup {
        font-size: 0.6rem !important;
    }
    #Listado{
        font-size:11px !important;
    }
    #input_filtrar{
        font-size:12px !important;
    }
    .page-link{
        font-size: 11px !important;
    }
    .page-link .material-icons{
        font-size: 22px !important;
        margin-top: 5px;
        justify-content: space-between !important;
    }
    #Chincheta_punteo {
        top: 78%;
        height: 28px;
        animation-duration: 0.2s;
        animation: go-left-right2 1s infinite alternate;
    }

    #Chincheta_identify {
        top: 78%;
        height: 28px;
        animation-duration: 0.2s;
        animation: go-left-right2 1s infinite alternate;
    }
    
    .iconChincheta{
        font-size: 17px !important;
        line-height: 0.9 !important;
    }
    .Texto_span {
        margin: 2px;
    }
    @keyframes go-left-right2 {
        from {
            left: 20px;
        }
        to {
            left: calc(2.2% - 25px);
        }
    }

    .Texto_span{
        font-size: 11.5px !important;
        font-family: 'Roboto' !important;
        font-weight: 500 !important;
    }
    .onoffswitch{
        margin: 27px auto !important;
        margin-left: 5px !important;
    }

    .boton_bloqueos{
        padding: 3px !important;
        margin: 0px !important;
        height: auto !important;
        font-size: 9px !important;
        justify-content: center !important;
    }
    .table-sm>:not(caption)>*>* {
        padding: .3rem;
    }
    #modal-footer-ver #btn-ver {
        font-size: 10px !important;
        padding-left: 10px !important;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
        height: 28px !important;
        margin: 6px 0px !important;
    }
    #modal-footer-ver {
        height: 6vh !important;
    }
    #modal-content-ver {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    /*estilo general tooltip media query 1366px*/
    .tooltip{
        --mdb-tooltip-font-size: 11px !important;
        top: -40px;
    }
    /*no localizado tooltip media query 1366px*/
    #noLocalizado p {
        left: -65% !important;
    }
    #noLocalizado .tooltip::after {
        left: 41%;
        margin-top: 26px;
    }
    /*guardar tooltip media query 1366px*/
    #guardar p {
        left: -29% !important;
    }
    #guardar .tooltip::after {
        left: 37%;
        margin-top: 26px;
    }
    /*cancelar tooltip media query 1366px*/
    #cancelar p {
        left: -29% !important;
    }
    #cancelar .tooltip::after {
        left: 37%;
        margin-top: 26px;
    }
    /*reporte tooltip media query 1366px*/
    #reporte p {
        left: -26% !important;
    }
    #reporte .tooltip::after {
        left: 37%;
        margin-top: 26px;
    }
    /*imprimir tooltip media query 1366px*/
    #imprimir p {
        left: -26% !important;
    }
    #imprimir .tooltip::after {
        left: 37%;
        margin-top: 26px;
    }
    /*claves tooltip media query 1366px*/
    #claves .tooltip::after {
        margin-top: 26px;
    }
    /*ayuda tooltip media query 1366px*/
    #ayuda .tooltip::after {
        margin-top: 26px;
    }
    #Content_paginado{
        height: 5vh;
    }
    .pagination li a {
        line-height: 20px;
        font-size: 13px !important;
    }
    .boton_{
        border-radius: 5px 0px 0px 5px !important;
        margin-right: -1px;
        height: 5vh;
        margin-top: 1.2px;
    }
    #Flech_ultimo{
        border-radius: 0px 5px 5px 0px !important;
        margin-left: -1px;
        height: 5.1vh;
        margin-top: 0.9px;
    }
    .enlace_activo{
        border-radius: 0px !important;
    }
    #Content_paginado::-webkit-scrollbar {
        height: 5px !important;
    }
    .modal-title{
        font-size: 22px !important;
        margin-left: -12px !important;
    }
    .Titulo_tema > h3 {
        font-size: 20px !important;
    }
    .Medium {
        line-height: 2.3 !important;
        font-size: 16px !important;
    }
    .etiqueta_titulo {
        font-size: 11px !important;
    }
    .Campos {
        font-size: 12px !important;
    }
    .modal-footer > btn {
            font-size: 9px !important;    
    }
    #idUe, #nomEst, #razonS {
        padding-left: 19px !important;
        font-size: 9px !important;
    }
    #Ficha_Btn {
        width: 28px !important;
        height: 25.8px !important;
    }
    #TextFicha2 {
        padding-top: 23px !important;
        font-size: 11.55px !important;
    }
    #Ficha_Icon {
        font-size: 19px !important;
        line-height: 0px !important;
        margin-left: -5px !important;
        margin-top: 1.9px !important;
    }

    #Ficha_Btn_regresa i {
        font-size: 15.2px !important;
        line-height: 28px !important;
        margin-top: 8px !important;
    }
    #Etiqueta {
        font-size: 10.5px !important;
    }
    #valor{
        font-size: 10px !important;
    }
    /*estilos usuario*/
    .Usuario{
        height: 56px !important;
        margin-top: 16.7% !important;
        margin-left:15px;
    }
    .Texto_usuario{
        font-size:10px ;
        margin-left: 13px !important;
        padding: 0px !important;
        padding-left: 13px !important;
    }
    .icon_usuario{
        font-size: 16px !important;
        margin: 3.5px 2px !important;
    }
    #Content_paginadoBloqueado{

        height: auto !important;
    }
    #display_pagBloqueados .boton_{
        height: 37px !important;

    }
    #Flech_ultimoBloqueados{
        height: 37.5px !important;
        border-radius: 0px 5px 5px 0px !important;
        margin-left: -1px;
        margin-top: 1px;
    }
    /*estilos identificar*/

    .Text_camposIdenti {

        line-height: 0px;
        margin-top: -7px !important; 
        margin-bottom: 2rem;
        font-weight: lighter !important;
        font-size: 10.4px !important;
    }

    .campos_Indenti{
        height: 25px !important;
        margin-bottom: 10px !important;
    }
    #contenedor_establecimiento{

        margin-bottom: 98px !important;
    }
    #TextFicha2 {
        padding-top: 16px !important;
    }

    .SubTitulo_identificar {
        margin-top: 11px !important;
    }

    .SubTitulo_identificar h3 {
        margin-top: 0px !important;
        margin-top: 8px !important;
        font-weight: 500 !important;
        line-height: 0 !important;
    }
     #Identificar {
    height: 60.5vh !important;
    
    }
    #LimpiaDatos_identi {
        font-size: 21px !important;
        margin: -17px -7px !important;  
    }
    .Titu_identificar h1{
        padding: 14px !important;
        font-size: 1.1rem !important;
    }


    /*estilos tooltip 1366*/
    .contenedor_listado_ver .tooltiptext {
        bottom: -20% !important;
        font-size:10px   !important;
        width: 120px !important;
        padding-top: 2px;
        padding-bottom: 2px;
        left: 100%;
    }

    .tooltiptext:before {
        top: 52%;
        margin-top: -20px;
        left: 53px;
    }

    #contenedor_tabla .tooltiptext2 {       
         font-size: 10px !important;
         border-color: rgba(0,0,0,0.6) !important;
         padding-top: 2px;
         padding-bottom: 2px;
         padding-left: 7px;
         padding-right: 7px;
         position: absolute;
         z-index: 1;
         bottom: 5.5% !important;
         left: 7.7% !important;
       
         opacity: 0;
         transition: opacity 0.3s;
    }

    .tooltiptext2:before {
        border-width: 4.5px 5.5px 5.5px 4.5px;
        left: -9px;
        top: 40%;
        margin-top: -3.5px; 
    }
     
    #cargando{
        font-size:17px !important;
    }
    #Icon_cargando {
        width:1rem !important;
        height:1rem !important;
        margin:-2.5% 60% !important;
        margin-top: -3.5px;
    }
    /*sweet alert reportes estilos media 1366px*/
    #reporteSwal{
        font-size: 9.5px;
        font-weight: 760;
        font-family:Roboto;
        padding-top: 2px !important;
    }
    #cesReportes{
       font-size: 9.5px;
        font-weight: 760;
        font-family:Roboto;
        padding-bottom: 1px !important; 
    }
    #swal2-title{
        font-size: 1.500em !important; 
    }
    .swal2-confirm,.swal2-cancel{
        height:auto !important;
        padding-bottom:5px !important;
        padding-top:5px !important;
        line-height:1 !important;
        font-size: 8.6px !important;
    }
    .iframe-reporte {

        height: 80vh !important;

    }
    .form-select {
        font-size: xx-small !important;
        font-weight: 650 !important;
    }

}


@media print {
    
    
    html{
      height: 100vh !important;
      overflow: hidden !important;
    }
    #sizer{
        height: 100vh !important;
    } 
  
}


    #sizer, #page-container, .scrollable-page, .ps, .panel{
      height: 100vh !important;
    }