/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26/09/2023, 01:54:31 PM
    Author     : DELIA.GALLEGOS
*/

.icon-avion > img{
    width: 50px;
    height: 41px;
    object-fit: cover;
    object-position: 0% 0%;
}

.icon-camello > img {
    width: 50px;
    height: 41px;
    object-fit: cover;
    object-position: 4% 4%;
}

.icon-hospital > img {
    width: 50px;
    height: 41px;
    object-fit: cover;
    object-position: 8% 8%;
}

.icon-iglesia > img {
    width: 50px;
    height: 41px;
    object-fit: cover;
    object-position: 12% 12%;
}

.icon-banco > img {
    width: 50px;
    height: 41px;
    object-fit: cover;
    object-position: 16% 16%;
}

.icon-localidadrural > img {
    width: 50px;
    height: 22px;
    object-fit: cover;
    object-position: 20% 20%;
}

.icon-default > img {
    width: 50px;
    height: 22px;
    object-fit: cover;
    object-position: 20% 20%;
}

.icon-marcasGeodésicas > img {
    width: 50px;
    height: 41px;
    object-fit: cover;
    object-position: 24% 23%;
}

.icon-manzana > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 27% 27%;
}

.icon-gasolineria > img {
    width: 50px;
    height: 35px;
    object-fit: cover;
    object-position: 31% 31%;
}

.icon-escuela > img {
    width: 50px;
    height: 35px;
    object-fit: cover;
    object-position: 35% 35%;
}

.icon-tienda > img {
    width: 50px;
    height: 35px;
    object-fit: cover;
    object-position: 39% 39%;
}

.icon-localidadUrbana > img {
    width: 50px;
    height: 32px;
    object-fit: cover;
    object-position: 43% 43%;
}

.icon-calle > img {
    width: 50px;
    height: 32px;
    object-fit: cover;
    object-position: 46% 46%;
}

.icon-rasgosOrografico > img {
    width: 50px;
    height: 32px;
    object-fit: cover;
    object-position: 50% 50%;
}

.icon-cuadros > img {
    width: 50px;
    height: 32px;
    object-fit: cover;
    object-position: 54% 54%;
}

.icon-autobus > img {
    width: 50px;
    height: 32px;
    object-fit: cover;
    object-position: 58% 58%;
}

.icon-montaña > img {
    width: 50px;
    height: 32px;
    object-fit: cover;
    object-position: 61% 61%;
}

.icon-dinero > img {
    width: 50px;
    height: 32px;
    object-fit: cover;
    object-position: 65% 65%;
}

.icon-municipio > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 69% 69%;
}

.icon-casaUbicacion > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 73% 73%;
}

.icon-rasgosHidrograficos > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 77% 77%;
}

.icon-ubicacion > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 81% 81%;
}

.icon-hojasapiladas > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 84% 84%;
}

.icon-dormir > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 88% 88%;
}

.icon-museo > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 92% 92%;
}

.icon-restaurante > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 96% 96%;
}

.icon-entidadFederativa > img {
    width: 50px;
    height: 39px;
    object-fit: cover;
    object-position: 100% 100%;
}

.marker {
    background-image: url("../../imagenes_2/resource/search.png");
    background-size: cover;
    width: 35px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.marker2 {
    background-image: url("../../imagenes_2/resource/identify.png");
    background-size: cover;
    width: 35px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.markerStreetV {
    background-image: url("../../imagenes_2/resource/streetV.png");
    background-size: cover;
    width: 35px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.markerPunteo{
    background-image: url("../../imagenes_2/resource/routen.png");
    background-size: cover;
    width: 35px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}